<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_017{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:6.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:6.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:"Lucida Sans Unicode",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:"Lucida Sans Unicode",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Georgia Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Georgia Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:13.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:13.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:13.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:13.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:6.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:6.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_021{font-family:Arial,serif;font-size:3.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_021{font-family:Arial,serif;font-size:3.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_020{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_020{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_019{font-family:Arial,serif;font-size:4.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_019{font-family:Arial,serif;font-size:4.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_022{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_022{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_023{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_023{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_024{font-family:Arial,serif;font-size:5.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_024{font-family:Arial,serif;font-size:5.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_026{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_026{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_027{font-family:Arial,serif;font-size:2.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_027{font-family:Arial,serif;font-size:2.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_029{font-family:Times,serif;font-size:21.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_029{font-family:Times,serif;font-size:21.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="0cd8619e-3c47-11eb-8b25-0cc47a792c0a_id_0cd8619e-3c47-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>

<div style="position:absolute;left:0px;top:0px">
<img src="background1.jpg" width=612 height=792></div>
/*  */
<div style="position:absolute;left:455.62px;top:88.46px" class="cls_004"><span class="cls_004">ةيدوعسلا ةيبرعلا ةكلمملا ةرافس</span></div>
<div style="position:absolute;left:114.86px;top:99.26px" class="cls_017"><span class="cls_017">ةروص</span></div>
<div style="position:absolute;left:479.38px;top:99.02px" class="cls_004"><span class="cls_004">يلصنقلا مسقلا</span></div>
<div style="position:absolute;left:451.30px;top:109.82px" class="cls_005"><span class="cls_005">EMBASSY OF SAUDI ARABIA</span></div>
<div style="position:absolute;left:113.42px;top:111.02px" class="cls_017"><span class="cls_017">Photo</span></div>
<div style="position:absolute;left:463.30px;top:117.98px" class="cls_005"><span class="cls_005">CONSULAR SECTION</span></div>
<div style="position:absolute;left:22.80px;top:182.06px" class="cls_007"><span class="cls_007">Full Name:</span></div>
<div style="position:absolute;left:533.87px;top:183.86px" class="cls_007"><span class="cls_007">:لماكلا مسلا</span></div>
<div style="position:absolute;left:138.14px;top:182.30px" class="cls_008"><span class="cls_008"></span></div>
<div style="position:absolute;left:22.80px;top:195.50px" class="cls_007"><span class="cls_007">Date   of   Birth:</span></div>
<div style="position:absolute;left:138.14px;top:194.06px" class="cls_009"><span class="cls_009"></span></div>
<div style="position:absolute;left:261.76px;top:195.50px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:327.67px;top:195.50px" class="cls_007"><span class="cls_007">Place of Birth</span></div>
<div style="position:absolute;left:440.62px;top:194.06px" class="cls_010"><span class="cls_010"></span></div>
<div style="position:absolute;left:533.87px;top:193.70px" class="cls_007"><span class="cls_007">ةدلولا لحم</span></div>
<div style="position:absolute;left:532.20px;top:204.62px" class="cls_007"><span class="cls_007">ةيلاحلا ةيسنجلا</span></div>
<div style="position:absolute;left:22.80px;top:207.74px" class="cls_007"><span class="cls_007">Previous Nationality:</span></div>
<div style="position:absolute;left:138.14px;top:207.74px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:260.09px;top:207.74px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:326.47px;top:207.74px" class="cls_007"><span class="cls_007">Present Nationality</span></div>
<div style="position:absolute;left:445.54px;top:206.30px" class="cls_010"><span class="cls_010"></span></div>
<div style="position:absolute;left:532.20px;top:218.18px" class="cls_007"><span class="cls_007">ةيعامتجلا ةلاحلا</span></div>
<div style="position:absolute;left:160.10px;top:218.66px" class="cls_012"><span class="cls_012"></span></div>
<div style="position:absolute;left:222.05px;top:217.94px" class="cls_011"><span class="cls_011"></span></div>
<div style="position:absolute;left:22.80px;top:228.86px" class="cls_007"><span class="cls_007">Sex</span></div>
<div style="position:absolute;left:261.76px;top:228.86px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:326.47px;top:228.86px" class="cls_007"><span class="cls_007">Marital Status:</span></div>
<div style="position:absolute;left:448.54px;top:227.42px" class="cls_010"><span class="cls_010"></span></div>
<div style="position:absolute;left:151.70px;top:233.66px" class="cls_014"><span class="cls_014"></span></div>
<div style="position:absolute;left:217.13px;top:233.42px" class="cls_013"><span class="cls_013"></span></div>
<div style="position:absolute;left:533.87px;top:247.01px" class="cls_007"><span class="cls_007">ةـنايدلا</span></div>
<div style="position:absolute;left:22.80px;top:252.41px" class="cls_007"><span class="cls_007">Sect:</span></div>
<div style="position:absolute;left:261.76px;top:252.41px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:326.47px;top:252.41px" class="cls_007"><span class="cls_007">Religion</span></div>
<div style="position:absolute;left:455.74px;top:250.97px" class="cls_010"><span class="cls_010"></span></div>
<div style="position:absolute;left:138.50px;top:265.37px" class="cls_015"><span class="cls_015">اـهردــصـم</span></div>
<div style="position:absolute;left:275.09px;top:266.09px" class="cls_007"><span class="cls_007"></span></div>
<div style="position:absolute;left:128.30px;top:275.81px" class="cls_007"><span class="cls_007">Place of Issue :</span></div>
<div style="position:absolute;left:42.00px;top:282.53px" class="cls_015"><span class="cls_015"></span></div>
<div style="position:absolute;left:228.05px;top:282.53px" class="cls_015"><span class="cls_015"></span></div>
<div style="position:absolute;left:326.47px;top:282.53px" class="cls_007"><span class="cls_007">Profession:</span></div>
<div style="position:absolute;left:418.90px;top:279.89px" class="cls_017"><span class="cls_017"></span></div>
<div style="position:absolute;left:533.87px;top:276.77px" class="cls_015"><span class="cls_015">ةنهملا</span></div>
<div style="position:absolute;left:270.77px;top:287.81px" class="cls_007"><span class="cls_007">Qualification:</span></div>
<div style="position:absolute;left:22.80px;top:310.37px" class="cls_007"><span class="cls_007">Home address and telephone no:</span></div>
<div style="position:absolute;left:184.01px;top:308.93px" class="cls_010"><span class="cls_010"></span></div>
<div style="position:absolute;left:509.73px;top:308.57px" class="cls_007"><span class="cls_007">:نوفلتلا مقر و لزنملا ناونع</span></div>
<div style="position:absolute;left:22.80px;top:326.81px" class="cls_007"><span class="cls_007">Business address and telephone no:</span></div>
<div style="position:absolute;left:487.29px;top:325.01px" class="cls_007"><span class="cls_007">نوفلتلا مقر و )ةسسؤملا(ةكرشلا ناونع</span></div>
<div style="position:absolute;left:96.50px;top:337.49px" class="cls_021"><span class="cls_021">لمع</span></div>
<div style="position:absolute;left:190.37px;top:343.13px" class="cls_015"><span class="cls_015">رورـم</span></div>
<div style="position:absolute;left:243.65px;top:336.77px" class="cls_002"><span class="cls_002">ةرايز</span></div>
<div style="position:absolute;left:302.95px;top:343.13px" class="cls_015"><span class="cls_015">ةرمع</span></div>
<div style="position:absolute;left:361.99px;top:338.33px" class="cls_014"><span class="cls_014">ةماقلل</span></div>
<div style="position:absolute;left:432.34px;top:343.13px" class="cls_015"><span class="cls_015">جـح</span></div>
<div style="position:absolute;left:490.54px;top:344.33px" class="cls_015"><span class="cls_015">ةيسامولبد</span></div>
<div style="position:absolute;left:22.80px;top:346.61px" class="cls_007"><span class="cls_007">Purpose of travel:</span></div>
<div style="position:absolute;left:533.87px;top:346.61px" class="cls_007"><span class="cls_007">:رفسلا نم ضرغلا</span></div>
<div style="position:absolute;left:96.86px;top:343.13px" class="cls_020"><span class="cls_020">work</span></div>
<div style="position:absolute;left:186.89px;top:350.33px" class="cls_007"><span class="cls_007">Transit</span></div>
<div style="position:absolute;left:299.23px;top:350.33px" class="cls_007"><span class="cls_007">Umrah</span></div>
<div style="position:absolute;left:431.14px;top:350.33px" class="cls_007"><span class="cls_007">Hajj</span></div>
<div style="position:absolute;left:491.38px;top:349.61px" class="cls_019"><span class="cls_019">Diplomacy</span></div>
<div style="position:absolute;left:241.49px;top:349.85px" class="cls_013"><span class="cls_013">Visit</span></div>
<div style="position:absolute;left:348.79px;top:349.73px" class="cls_014"><span class="cls_014">Residence</span></div>
<div style="position:absolute;left:169.94px;top:364.73px" class="cls_022"><span class="cls_022">:رادصلا لحم</span></div>
<div style="position:absolute;left:538.56px;top:365.81px" class="cls_022"><span class="cls_022">:زاوجلا مقر</span></div>
<div style="position:absolute;left:60.74px;top:370.13px" class="cls_022"><span class="cls_022">PAKISTAN</span></div>
<div style="position:absolute;left:424.18px;top:367.73px" class="cls_013"><span class="cls_013">HG5972871</span></div>
<div style="position:absolute;left:166.58px;top:376.97px" class="cls_007"><span class="cls_007">Place of Issue</span></div>
<div style="position:absolute;left:534.48px;top:376.97px" class="cls_007"><span class="cls_007">Passport No:</span></div>
<div style="position:absolute;left:22.80px;top:388.61px" class="cls_007"><span class="cls_007">Date of Passport's Expiry:</span></div>
<div style="position:absolute;left:139.58px;top:386.57px" class="cls_023"><span class="cls_023"></span></div>
<div style="position:absolute;left:352.27px;top:389.57px" class="cls_007"><span class="cls_007">Date of Issue:</span></div>
<div style="position:absolute;left:404.59px;top:386.57px" class="cls_023"><span class="cls_023"></span></div>
<div style="position:absolute;left:516.69px;top:386.81px" class="cls_007"><span class="cls_007">:زاوجلا ةيحلص ءاهتنا خيرات</span></div>
<div style="position:absolute;left:82.70px;top:400.25px" class="cls_007"><span class="cls_007">ةكلمملاب ةماقلا ةدم</span></div>
<div style="position:absolute;left:379.27px;top:400.13px" class="cls_024"><span class="cls_024">رادصلا خيرات</span></div>
<div style="position:absolute;left:518.25px;top:400.37px" class="cls_015"><span class="cls_015">ةرداغملا خيرات</span></div>
<div style="position:absolute;left:22.80px;top:409.25px" class="cls_007"><span class="cls_007">Duration of stay in the Kingdom</span></div>
<div style="position:absolute;left:373.75px;top:409.25px" class="cls_007"><span class="cls_007">Date of Arrival:</span></div>
<div style="position:absolute;left:516.58px;top:409.25px" class="cls_007"><span class="cls_007">Date of Departure:</span></div>
<div style="position:absolute;left:24.47px;top:418.63px" class="cls_007"><span class="cls_007">:مقر كيشب</span></div>
<div style="position:absolute;left:94.82px;top:418.63px" class="cls_007"><span class="cls_007">( :خيرات</span></div>
<div style="position:absolute;left:168.49px;top:418.63px" class="cls_007"><span class="cls_007">: لاصيلا مقر )</span></div>
<div style="position:absolute;left:240.52px;top:418.63px" class="cls_007"><span class="cls_007">:خيرات</span></div>
<div style="position:absolute;left:343.87px;top:418.63px" class="cls_007"><span class="cls_007">(</span></div>
<div style="position:absolute;left:379.87px;top:418.63px" class="cls_007"><span class="cls_007">(  ةلماجم</span></div>
<div style="position:absolute;left:401.32px;top:418.63px" class="cls_007"><span class="cls_007">)</span></div>
<div style="position:absolute;left:451.90px;top:418.63px" class="cls_007"><span class="cls_007">)</span></div>
<div style="position:absolute;left:462.34px;top:418.63px" class="cls_007"><span class="cls_007">(   ادقن</span></div>
<div style="position:absolute;left:479.02px;top:418.63px" class="cls_007"><span class="cls_007">)</span></div>
<div style="position:absolute;left:542.28px;top:416.83px" class="cls_007"><span class="cls_007">: عفدلا ةقيرط</span></div>
<div style="position:absolute;left:22.80px;top:427.99px" class="cls_007"><span class="cls_007">Method of Payment</span></div>
<div style="position:absolute;left:108.74px;top:427.99px" class="cls_007"><span class="cls_007">(</span></div>
<div style="position:absolute;left:144.74px;top:427.99px" class="cls_007"><span class="cls_007">) Free (</span></div>
<div style="position:absolute;left:216.77px;top:427.99px" class="cls_007"><span class="cls_007">)Cash (</span></div>
<div style="position:absolute;left:288.77px;top:427.99px" class="cls_007"><span class="cls_007">) Cheque No:</span></div>
<div style="position:absolute;left:396.79px;top:427.99px" class="cls_007"><span class="cls_007">Date  (</span></div>
<div style="position:absolute;left:468.82px;top:427.99px" class="cls_007"><span class="cls_007">) Slip No</span></div>
<div style="position:absolute;left:540.84px;top:427.99px" class="cls_007"><span class="cls_007">Date</span></div>
<div style="position:absolute;left:161.53px;top:437.35px" class="cls_007"><span class="cls_007">:هتلص</span></div>
<div style="position:absolute;left:543.95px;top:435.55px" class="cls_007"><span class="cls_007">: مرحملا مسا</span></div>
<div style="position:absolute;left:22.80px;top:449.71px" class="cls_007"><span class="cls_007">Relationship:</span></div>
<div style="position:absolute;left:22.80px;top:460.87px" class="cls_007"><span class="cls_007">Destination :RIYADH</span></div>
<div style="position:absolute;left:240.52px;top:460.87px" class="cls_007"><span class="cls_007">ةكلمملاب لوصولا ةهج</span></div>
<div style="position:absolute;left:317.23px;top:460.87px" class="cls_007"><span class="cls_007">Carrier's Name:</span></div>
<div style="position:absolute;left:533.87px;top:459.07px" class="cls_007"><span class="cls_007">:ةلقانلا ةكرشلا مسا</span></div>
<div style="position:absolute;left:22.80px;top:472.03px" class="cls_007"><span class="cls_007">Dependents traveling in the same Passport:</span></div>
<div style="position:absolute;left:330.54px;top:470.23px" class="cls_007"><span class="cls_007">:رفسلا زاوج سفن يلع )نيفاضملا( ةلئاعلا دارفأ صقن تاحاضيإ</span></div>
<div style="position:absolute;left:97.46px;top:482.71px" class="cls_015"><span class="cls_015">ةلصلا عون</span></div>
<div style="position:absolute;left:248.45px;top:482.71px" class="cls_015"><span class="cls_015">دليملا خيرات</span></div>
<div style="position:absolute;left:388.15px;top:482.71px" class="cls_015"><span class="cls_015">سنجلا</span></div>
<div style="position:absolute;left:509.74px;top:482.71px" class="cls_015"><span class="cls_015">لماكلا مسلا</span></div>
<div style="position:absolute;left:89.78px;top:490.03px" class="cls_015"><span class="cls_015">Relationship</span></div>
<div style="position:absolute;left:242.81px;top:490.03px" class="cls_015"><span class="cls_015">Date of Birth</span></div>
<div style="position:absolute;left:390.19px;top:490.03px" class="cls_015"><span class="cls_015">Sex</span></div>
<div style="position:absolute;left:507.10px;top:490.03px" class="cls_015"><span class="cls_015">Full Name</span></div>
<div style="position:absolute;left:22.80px;top:514.27px" class="cls_015"><span class="cls_015">Name and address of company or individual in the Kingdom:</span></div>
<div style="position:absolute;left:330.54px;top:512.35px" class="cls_015"><span class="cls_015">:ةكلمملاب هناونع و صخشلا مسا وأ ةكرشلا ناونع و مسا</span></div>
<div style="position:absolute;left:28.56px;top:524.47px" class="cls_026"><span class="cls_026">هلفقم همهاسم ةضباقلا لامنلا ةكرش</span></div>
<div style="position:absolute;left:330.54px;top:539.71px" class="cls_015"><span class="cls_015">ةحيحص اهتنود يذلا تامولعملا لك ناب رقا اندأ عقوملا انأ</span></div>
<div style="position:absolute;left:22.80px;top:543.55px" class="cls_007"><span class="cls_007">The undersigned hereby certify that all the information I have provided are correct, I will abide by the laws of</span></div>
<div style="position:absolute;left:22.80px;top:550.63px" class="cls_007"><span class="cls_007">the Kingdom during the period of my residence in it.</span></div>
<div style="position:absolute;left:332.23px;top:550.75px" class="cls_015"><span class="cls_015">.اهب يدوجو هرتف ءانثأ ةكلمملا نيناوقلاب امزتلم نوكأس و</span></div>
<div style="position:absolute;left:328.87px;top:565.15px" class="cls_027"><span class="cls_027">MUNIAZ</span></div>
<div style="position:absolute;left:37.32px;top:572.11px" class="cls_007"><span class="cls_007">Date:</span></div>
<div style="position:absolute;left:559.19px;top:573.79px" class="cls_007"><span class="cls_007">:مسلا</span></div>
<div style="position:absolute;left:205.01px;top:575.59px" class="cls_007"><span class="cls_007">Signatureعيقوتلا</span></div>
<div style="position:absolute;left:361.03px;top:575.59px" class="cls_007"><span class="cls_007">Name :</span></div>
<div style="position:absolute;left:407.62px;top:574.03px" class="cls_008"><span class="cls_008"></span></div>
<div style="position:absolute;left:38.28px;top:579.19px" class="cls_007"><span class="cls_007">خيراتلا</span></div>
<div style="position:absolute;left:22.80px;top:589.18px" class="cls_009"><span class="cls_009">For official use only:</span></div>
<div style="position:absolute;left:328.87px;top:588.46px" class="cls_009"><span class="cls_009">: طقف يمسرلا لامعتسلل</span></div>
<div style="position:absolute;left:22.80px;top:605.50px" class="cls_007"><span class="cls_007">Date</span></div>
<div style="position:absolute;left:198.29px;top:605.50px" class="cls_007"><span class="cls_007">Authorization</span></div>
<div style="position:absolute;left:245.44px;top:605.50px" class="cls_007"><span class="cls_007">اهخيرات</span></div>
<div style="position:absolute;left:487.89px;top:605.50px" class="cls_007"><span class="cls_007">:ةريشأتلا ءاضعلا يف اهيلع دمتعملا رملا مقر</span></div>
<div style="position:absolute;left:22.80px;top:620.14px" class="cls_007"><span class="cls_007">Visit / Work for:</span></div>
<div style="position:absolute;left:467.88px;top:619.42px" class="cls_022"><span class="cls_022">:يدل لمعلا</span></div>
<div style="position:absolute;left:507.80px;top:619.42px" class="cls_022"><span class="cls_022">ةرايزل</span></div>
<div style="position:absolute;left:22.80px;top:634.78px" class="cls_007"><span class="cls_007">Date:</span></div>
<div style="position:absolute;left:277.85px;top:634.78px" class="cls_007"><span class="cls_007">Visa No:  خيرات و</span></div>
<div style="position:absolute;left:543.95px;top:634.78px" class="cls_007"><span class="cls_007">:مقرب هلرشأ</span></div>
<div style="position:absolute;left:22.80px;top:649.42px" class="cls_007"><span class="cls_007">FEE COLLECTED:</span></div>
<div style="position:absolute;left:220.85px;top:649.42px" class="cls_007"><span class="cls_007">Type:  لصحملا غلبملا</span></div>
<div style="position:absolute;left:357.07px;top:649.42px" class="cls_007"><span class="cls_007">Duration  :اهعون</span></div>
<div style="position:absolute;left:518.97px;top:649.42px" class="cls_007"><span class="cls_007">اهتدم</span></div>
<div style="position:absolute;left:32.86px;top:660.46px" class="cls_023"><span class="cls_023">يلصنقلا مسقلا سيئر</span></div>
<div style="position:absolute;left:367.37px;top:660.46px" class="cls_023"><span class="cls_023">تانايبلا ققدم</span></div>
<div style="position:absolute;left:518.02px;top:672.94px" class="cls_009"><span class="cls_009">Checked By:</span></div>
<div style="position:absolute;left:260.21px;top:683.38px" class="cls_029"><span class="cls_029">E269349085</span></div>
</div>

</body>
</html>
