<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Letter Form</title>
    <style>
        th,tr{
            padding:10px
        }
    </style>
  </head>
  <body>
      <form action="" style="width: 80%;padding:10px" >
    <div class="row" style="font-weight: bold;">
        <div class="col">
            <img src="../bashir.JPG" alt="">
        </div>
        <div class="col">
            <img src="../bie.JPG" alt="">
        </div>
        <div class="col">
            <img src="../bashir arabic.JPG" alt="">
        </div>
    </div>
    <div class="row"  style="font-weight: bold;">
        <div class="col">
         <p>WEB: WWW.BIEOEP.COM <br>
            LIC# OPS & HRD/1328/KAR</p>
        </div>
        <div class="col">
          
        </div>
        <div class="col">
            <P>OVERSEAS EMPLOYMENT PROMOTER</P>
            <a href="">TEL:-021-34388455</a>
        </div>
    </div>
    <div class="row"  style="font-weight: bold;">
        <div class="col">
         <p>Address: Office # 5, Ground Floor, Trade Center, Shahrah-e-Faisal, Karachi, Pakistan. Tel : 021-34388455</p>
       
        </div>
      
    </div>
    <section style="padding-left: 50px;">
        <p style="margin-bottom: 15px;font-weight: bold;font-size: 20px;">The Protector of Emigrant, <br>
            Government of Pakistan, <br>
            Karachi.
        </p>
        <div class="row" style="font-weight: bold;">
            <div class="col-md-1">
               <P>SUBJECT:-</P> 
            </div>
            <div class="col-md-11" style="text-decoration: underline;">
                <P>REGISTRATION OF (ONE) PASSPORT(S) AGAINST PERMISSION NO. 46146 DATED 31-12-2019</P> 
             </div>
        </div>
        <p style="padding-left: 2%;font-size: 20px;">
            We hereby submit <span style="font-weight: bold;text-decoration: underline;">One</span> Passport(s) against the permission No. <br>
            <span style="font-weight: bold;text-decoration: underline;">468146</span>  date <span style="font-weight: bold;text-decoration: underline;">31-12-2019</span>
        </p>
        <p style="padding-left: 2%;font-size: 20px;">
            M/s. <span style="font-weight: bold;text-decoration: underline;">HAMZA MUHAMMAD HAMZA AL RABEE</span>  <br> 
            which may please be registered. their details are as per list attached.  We hereby undertake as under:-
        </p>
        <table style="width: 100%; border: 1px solid;padding:10px">
            <thead style="border: 1px solid;">
            <tr>
            <th scope="col" style="border-right: 1px solid;">S.No.</th>    
            <th scope="col">Name & Father`s Name</th>
            <th scope="col">Passport     </th>
            <th scope="col">Trade/Category    </th>
            </tr>
        </thead>
        <th scope="row" style="border-right: 1px solid;">1</th>
        <td>MUHAMMAD SOHAIL    s/o <br>
        MUHAMMAD JAMIL
        </td>
        <td>FZ5190012</td>
        <td>DRIVER</td>
      </tr>
      <tr style="border: 1px solid;">
        <th scope="row" style="border-right: 1px solid;">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr style="border: 1px solid;">
        <th scope="row" style="border-right: 1px solid;">3</th>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
        </table>
        <p style="padding-top:20px;font-size: 20px;"> a) That we have got visas stamped form the Embassy/Consulate. The visas is are genuineand in accordance with the permission granted for the protector or Emigrants, The paper visas submitted by us for the countries where the stamp visas do not prevail are equally genuine, Furthermore , the demand paper received from the employer are genuine and the demand letter prepared by us are in accordance with the instruction of the employer, for which we take the responsibility of proper implementation. <br>
        b)That,  the recruitment has been made in accordance with the parameters settled in the emigration Ordinance,  1979  and the Rules made there under.  Furthermore ,  we have completed all the formalities as required under the emigration ordinance,  1979 made there under  including  that of Rule 15 (A) of  the Emigration Rules, 1979    
        <br>
        c) That the requisite amount  has been i.  e.,  6,000/- as service charges , Rs.   2,000/- as OPF fund  Rs.  2500/-  as State Lifie Insurance Charges have been , Registration Fees Rs. 500 /- OEC Charges Rs. 200 /- banks by us and we take the responsibility of the genuineness Of the bank challans )   At any stage, if  these   bank  challans   are proved false or forge, which shall be held responsible under the relevant laws? 
       <br>
        d)That, the required documents as required under  the Emigration Ordinance , 1 979  and Rules made there under are complete for the purpose   registration  .  All  the documents Are  genuine  for the purposes and intents as stated above. Furthermore, we hereby take the Responsibility of the fulfillment of terms and conditions of employment of the aforementioned Intending  emigrant in accordance with the Emigration Ordinance  ,  1979   ,  Rules   1979 And the Procedure issued by the Federal Government form time to time.
        <br>
        That  at any stage, if above information is  proved incorrect/false, we shall be held responsible 
        <br>
        For all legal consequences/ punitive action under  the relevant law.
        <br>
        You are requested to kindly register the aforementioned passport and oblige.
        </p>
        <div style="display: grid;
        justify-content: end; font-weight: bold;margin-right: 15%;">
        <p>--------------------------------------</p>
        <p>Yours Sincerely <br>
        <span style="text-align: center;">Proprietor</span>
        </p>
    </div>
    </section>
</form>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
