<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>NBP Chalan</title>
    <style>
        .rotated {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-weight: bolder;
    }
    th,td{
        border: 1px solid;
        text-align: center;
        
    }
    .table > tbody{
        vertical-align: middle;
    }
    </style>
  </head>
  <body>
      <div class="mainSection" style="width: 70%;">
      <form action=""style="width: 100%;
      padding: 10px;">
    <div>
         <p style="text-align: center; font-weight: 600;">Treasury Challan </p>
    </div>    
    <div style="display: grid;grid-auto-flow: column;justify-content: space-between;">
        <div>
            <p>(TreasuryRule92)</p>
        </div>
        <div style="margin-right:10rem">
            <p>Date_________20____</p>
        </div>
    </div>
    <div style="text-align: center;">
        <p>Treasury /SubTreasury</p>
    </div>
   <div>
    <p>Challan of cash peid into the national bank/state bank of Pakistan_</p>
</div>
<div style="display: grid;grid-template-columns: repeat(7,1fr);
border: 1px solid;">
    <div style="grid-column: 1/span 5;
    text-align: center;display: flex;
flex-direction: column;
justify-content: center;
align-items: center;border-right: 1px solid;">
       <p> To be filled in by the remitter</p>
    </div>
    <div style="grid-column: 6/span 2;margin-left: 5px;
    padding: 10px;text-align: center;">
        
        Tobe filled in by the 
        <br>
        department of the Treasury
        <br>
        Department theTreasury

    </div>
</div>
<div>
    <table class="table">
        <thead>
          <tr>
            <td scope="col">By when <br> Tendred </td>
            <td scope="col">Name ofdesigion <br> and addres of <br>  <br> mony is paid</td>
            <td scope="col">Full perticulars <br> of the remantence <br> end the authoutry <br> (if any)</td>
            <td scope="col">Amount</td>
            <td scope="col">Head of <br> Account</td>
            <td scope="col">Order to <br> the Bank</td>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><div class="rotated"> <p> BASHIR IBRAHIM ENTERPRISES</p>
               <p> OFFICE # 5 GROUND FLOOR, TRADE CENTER SHAHARA-E-FAISAL, KARACHI.</p>
               <p>LICENCE NO OPS&HR/1328 KAR PAKISTAN </p>
               <p>PHON NO 021-34388455	
            </p>

            </div> 
            
        </th>
            <th><div class="rotated"> <div> Protector of Emigrants <br>
                Goverment of Pakistan <br>
                Karachi</div>
             
 
             </div> </th>
            <th><div class="rotated"> <p>RIGISTRATION FEES

             </p>
 
             </div> </th>
            <th style="vertical-align: top;">500/</th>
            <th><div class="rotated"> <p>SUB DETAIL HEAD </p>
                <p>A/C NO .C02901-30-0029 REGISTATION
                </p>
                <p>FESS FROM PAKISTAN WORKING ABRONDCO20906
                </p>

            </div> </th>
            <th><div class="rotated"> <p>Date </p>
                <p>collect recivd and granl recapit

                </p>
                <p>Signature and full desigion of the officer 

                </p>
                <p>ording the money to be paid in 
                </p>

            </div> </th>
          </tr>
        </tbody>
       
      </table> 
        <div style="border: 1px solid; display: grid;display: grid;
        grid-auto-flow: column;
        margin-top: -16px;align-items: center;text-align: center;">
        <div>Rupees (in words) </div>
        <div scope="col" style="border: none;">FIVE HUNDRED ONLY  </div>
        <div scope="col" colspan="2" style="border: none;">  To be used only in the  <br>  cases of retunence to the <br> bank  through Department  <br> office of the Treasury office.  </div>
      </div>
      
      <div style="display: grid;grid-auto-flow: column;padding-top: 10px;">
      <div>Recived payment (in word)Rupees</div>
      <div scope="col" style="border: none;"></div>
      <!-- <div scope="col" colspan="2" style="border: none;">  To be used only in the  <br>  cases of retunence to the <br> bank  through Department  <br> office of the Treasury office.  </div> -->
    </div>
    <div style="display: grid;grid-auto-flow: column;padding-top: 20px;">
        <div>
            Treasury
        </div>
        <div>
            Accountet
        </div>
        <div>
            Date
        </div>
        <div>
        <p style="border-bottom:1px solid; width: 300px;">
        Tresery officer
        </p>
        <p style="padding-left: 75px;
        margin-top: -15px;">
        Agent
    </p>
        </div>
    </div>
     
</div>
</form>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
